body,
html {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
}

p {
  color: #333;
  padding-left: 20px;
}

#title {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 3rem;
  color: #333;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chat-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
}

#chat-box {
  flex-grow: 1;
  overflow-y: auto;
}

#chat-box::-webkit-scrollbar {
  width: 8px;
}

#chat-box::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
  border-radius: 8px;
}

#input-container {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 13px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  font-family: "Special Elite", system-ui;
  font-size: 1.2rem;
  border: 1px solid #747474;
}

#send-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
}

#take-photo-button {
  padding: 10px;
  background-color: #414141;
  color: white;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

#send-button:hover {
  background-color: #45a049;
}

.instructions,
.message,
.response {
  padding: 10px;
  margin-right: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.instructions {
  background-color: #dcedff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.message {
  margin-top: 12px;
  background-color: #f1f1f1;
  font-family: "Special Elite", system-ui;
}
.response {
  margin-top: 12px;
  border-radius: 10px;
  background-color: #dbd7c6;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  white-space: pre-wrap;
}

.bw-photo {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-right: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reduced-size {
  width: 80%;
  height: auto;
}
