body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

p {
  color: #333;
  padding-left: 20px;
}

#title {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 3rem;
  color: #333;
  padding-left: 20px;
}

#chat-container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#chat-box {
  width: 100%;
  height: 90%;
  border: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

#chat-input {
  width: 70%;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

#send-button {
  width: 20%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

#send-button:hover {
  background-color: #45a049;
}

.instructions {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #dcedff;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
.message {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  font-family: "Special Elite", system-ui;
  font-size: 1.2rem;
}
.response {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #dbd7c6;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  white-space: pre-wrap;
}

.bw-photo {
  margin: 10px;
  border-radius: 10px;
}

.half-size {
  width: 50%;
  height: auto;
}
